<%- include('../partials/_navbar') %>

<h1>Sign In</h1>

<form action="/auth/sign-in" method="POST">
  <label for="username">Username</label><br>
  <input type="text" name="username" id="username" required><br><br>

  <label for="password">Password</label><br>
  <input type="password" name="password" id="password" required><br><br>

  <% if (error) { %>
    <div style="color: red; margin-bottom: 10px;">
      <%= error %>
    </div>
  <% } %>

  <button type="submit">Sign In</button>
</form>