<nav>
  <ul>
    <li><a href="/">Home</a></li>

    <% if (!user) { %>
      <li><a href="/auth/sign-in">Sign In</a></li>
      <li><a href="/auth/sign-up">Sign Up</a></li>
    <% } else { %>
      <% if (user.position === "Head of Pharmacy") { %>
        <li><a href="/admin/regions">Set Regions</a></li>
      <% } %>

      <li><a href="/transactions">Stock</a></li>
      <li><a href="/auth/logout">Logout (<%= user.username %>)</a></li>
    <% } %>
  </ul>
</nav>