<%- include('./partials/_navbar') %>

<h1>Welcome to Pharmacy Stock Movement</h1>

<% if (user) { %>
  <p>You are logged in as <strong><%= user.position %></strong>
    <% if (user.healthCenter) { %>
      at <strong><%= user.healthCenter.healthCenterName %></strong>
    <% } %>
  </p>
<% } else { %>
  <p>Please <a href="/auth/sign-in">sign in</a> to manage inventory.</p>
<% } %>